<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>About us</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>About us</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!-- Mission Section -->
<section class="mission-section style-two">
  <div class="auto-container">
    <!-- Title Box -->
    <div class="title-box">
      <h2>CareGiver at Home In-Home Care Difference</h2>
      <div class="bold-text">
        Our team of registered nurses and skilled healthcare professionals
        provide in-home nursing to help manage and coordinate recovery at home.
      </div>
      <div class="text">
        We are an in-home care company that happens to operate through
        independently owned and operated home care franchisees. We're not a
        franchise company trying to do business in the home care industry.
        Because of this, the safety and well being of our clients comes first
        for everyone.
      </div>
    </div>
    <div class="clearfix row">
      <!-- Image Column -->
      <div class="image-column col-lg-3 col-md-4 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="images/resource/mission.jpg" alt="" />
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column col-lg-9 col-md-8 col-sm-12">
        <div class="inner-column">
          <h2>Our Company Mission</h2>
          <div class="bold-text">
            Everything we do at Home Instead CareGiver is driven by our
            universal mission: To enhance the lives of aging adults and their
            families.
          </div>
          <div class="text">
            When our founders Paul and Lori Hogan began providing care for
            Paul’s grandmother to help her remain at home, they envisioned a
            future where all people could age with greater hope and success. We
            strive to make that vision a reality with every life we are
            privileged to touch.
          </div>
          <h3>Changing the Face of Aging</h3>
          <ul class="mission-list">
            <li>The old face of aging was the fear of getting old.</li>
            <li>The new face is hope and promise.​</li>
          </ul>
          <ul class="mission-list">
            <li>The old face of aging was the fear of getting old.</li>
            <li>The new face is hope and promise.​</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Mission Section -->

<!-- Call To Action Section -->
<section
  class="call-to-action-section"
  style="background-image: url(images/background/1.png)"
>
  <div class="auto-container">
    <h2>Share Your Cares. Inspire Others.</h2>
    <div class="text">
      Join our movement to make the world a better place for seniors.
    </div>
    <a href="contact" class="theme-btn btn-style-two"
      ><span class="txt">contact us</span></a
    >
  </div>
</section>
<!-- End Call To Action Section -->

<!-- Healthcare Section -->
<section class="healthcare-section">
  <div class="auto-container">
    <div class="clearfix row">
      <!-- Content Column -->
      <div class="content-column col-lg-7 col-md-12 col-sm-12">
        <div class="inner-column">
          <h2>How Do Home Healthcare & Home Care Work Together?</h2>
          <div class="text">
            We often find ourselves working side-by-side with home healthcare
            providers in order to deliver the best possible caregiving services
            to fit each client’s needs. For example, the our agency may change
            your loved one’s prescription or recommend a therapy regimen. Our
            caregivers are there with your family member day in and day out to
            make sure they take those medicines and stick to their recommended
            routine safely and effectively.
          </div>
          <div class="bold-text">
            If you or your loved one is in need of caregiving services, we
            encourage you to reach out for a complimentary evaluation so we can
            customize an appropriate plan of care.
            <a href="contact">Contact us</a> for more information.
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-5 col-md-12 col-sm-12">
        <div class="inner-column">
          <div
            class="image wow fadeInDown"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <img src="images/resource/care-1.jpg" alt="" />
          </div>
          <div class="clearfix row">
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <div
                class="image image-2 wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <img src="images/resource/care-2.jpg" alt="" />
              </div>
            </div>
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <div
                class="image image-3 wow fadeInRight"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <img src="images/resource/care-3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Healthcare Section -->

<!-- Testimonial Section -->
<%- include('partials/testimonials') %>
