<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(/images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>About us</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>About us</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!-- Mission Section -->
<%- include('partials/mission') %>
<!-- End Mission Section -->

<!-- Call To Action Section -->
<section
  class="call-to-action-section"
  style="background-image: url(/images/background/1.png)"
>
  <div class="auto-container">
    <h2>Share Your Cares. Inspire Others.</h2>
    <div class="text">
      Join our movement to make the world a better place for seniors.
    </div>
    <a href="contact" class="theme-btn btn-style-two"
      ><span class="txt">contact us</span></a
    >
  </div>
</section>
<!-- End Call To Action Section -->

<!-- Healthcare Section -->
<section class="healthcare-section">
  <div class="auto-container">
    <div class="clearfix row">
      <!-- Content Column -->
      <div class="content-column col-lg-7 col-md-12 col-sm-12">
        <div class="inner-column">
          <h2>How Do Home Healthcare & Home Care Work Together?</h2>
          <div class="text">
            We often find ourselves working side-by-side with home healthcare
            providers in order to deliver the best possible caregiving services
            to fit each client’s needs. For example, the our agency may change
            your loved one’s prescription or recommend a therapy regimen. Our
            caregivers are there with your family member day in and day out to
            make sure they take those medicines and stick to their recommended
            routine safely and effectively.
          </div>
          <div class="bold-text">
            If you or your loved one is in need of caregiving services, we
            encourage you to reach out for a complimentary evaluation so we can
            customize an appropriate plan of care.
            <a href="contact">Contact us</a> for more information.
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-5 col-md-12 col-sm-12">
        <div class="inner-column">
          <div
            class="image wow fadeInDown"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <img src="/images/resource/care-1.jpg" alt="" />
          </div>
          <div class="clearfix row">
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <div
                class="image image-2 wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <img src="/images/resource/care-2.jpg" alt="" />
              </div>
            </div>
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <div
                class="image image-3 wow fadeInRight"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <img src="/images/resource/care-3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Healthcare Section -->

<!-- Testimonial Section -->
<%- include('partials/testimonials') %>
