<section
  class="page-title"
  style="background-image: url(/images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>How Do I Get Started</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>Get Started</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!-- Meeting Section -->
<section class="meeting-section">
  <div class="auto-container">
    <h2>How To Get Started</h2>
    <div class="bold-text">Learn How To Get Started with Eland Social Care</div>
    <div class="text">
      The best way to provide the highest quality level of care requires an
      initial meeting where family and/or client meet with a Visiting CareGiver
      coordinator. This meeting includes a detailed review of care needed,
      schedule request (if known), specific requests of family or client, and
      any other concerns. This is an excellent opportunity to ask questions of
      Visiting CareGiver and it is an excellent opportunity for us to get to
      know you as well. If you are feeling overwhelmed, we can make
      recommendations as we have much experience in understanding what works in
      certain situations.
    </div>
    <div class="clearfix row">
      <!-- Content Column -->
      <div class="content-column col-lg-8 col-md-12 col-sm-12">
        <div class="inner-column">
          <h3>
            The following topics are commonly discussed during initial meetings.
          </h3>
          <ul class="list-style-four">
            <li>
              Specific physical needs of the care recipient with regards to
              bathing and grooming, dressing, meals and diet, mobility, and
              incontinence.
            </li>
            <li>
              Reviewing schedules involving sleep, eating and medicine. <br />
              Specific emotional needs such as social interaction, activities,
              conversation, appointments, and companionship.
            </li>
            <li>
              Specific assistance with homemaking such as preparation of meals,
              groceries, linens, laundry, and light housekeeping.
            </li>
            <li>
              Logistics of schedules, access to the home, documentation, and the
              details of how to work with scheduling changes, the office or the
              caregivers.
            </li>
            <li>
              If you would like to proceed with care at that time, we would
              establish a schedule, finalize the care plan, schedule a nurse
              visit, and coordinate a meeting with caregiver(s).
            </li>
          </ul>
        </div>
      </div>
      <!-- Image Column -->
      <div class="image-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="/images/resource/started.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Meeting Section -->
<!-- Mission Section -->
<%- include('partials/care-services') %>
<!-- End Mission Section -->

<!-- Call To Action Section Two -->
<section class="call-to-action-section-two style-three">
  <div class="auto-container">
    <div class="inner-container">
      <h2>Get Started Today</h2>
      <div class="text">
        Contact a franchised Visiting CareGiver office in your area for
        information on elderly home care services.
      </div>
      <a href="contact" class="find">Find our office near you.</a>
    </div>
  </div>
</section>
<!-- End Call To Action Section Two -->
