<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(/images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>Contact Us</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>Contact Us</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!-- Contact Form Section -->
<section class="contact-form-section">
  <div class="auto-container">
    <!-- Title Box -->
    <div class="title-box">
      <h2>Get In Touch</h2>
      <div class="bold-text">
        Alternatively fill in the form and we will get back to you:
      </div>
    </div>

    <div class="clearfix row">
      <!-- Form Column -->
      <div class="form-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Default Form -->
          <div class="default-form contact-form">
            <form
              method="post"
              action="https://t.commonsupport.com/care-giver/sendemail.php"
              id="contact-form"
              novalidate="novalidate"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  value=""
                  placeholder="Name*"
                  required=""
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  name="phone"
                  value=""
                  placeholder="Phone Number*"
                  required=""
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  name="email"
                  value=""
                  placeholder="Email*"
                  required=""
                />
              </div>

              <div class="form-group">
                <textarea name="message" placeholder="Your Message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="theme-btn btn-style-one">
                  <span class="txt">Submit now</span>
                </button>
              </div>
            </form>
          </div>
          <!--End Default Form-->
        </div>
      </div>

      <!-- Info Column -->
      <div class="info-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="/images/resource/contact-1.jpg" alt="" />
          </div>
          <h3>Head Office:</h3>
          <div class="text">
            The Royal Building <br />
            85 Lourance Road, New York <br />
            HL 214588
          </div>
          <ul>
            <li>Tel: <a href="tel:1800-456-7890">1800 456 7890</a></li>
            <li>
              Email:
              <a href="mailto:info@caregiver.co.in">info@caregiver.co.in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form Section -->
