<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(/images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>After Surgery Care</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>After Surgery Care</li>
    </ul>
  </div>
</section>
<!--End Page Title-->
