<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(images/background/3.jpg)"
>
  <div class="auto-container">
    <h2>Faq</h2>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>Faq</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!--Faq Section-->
<section class="faq-section">
  <div class="auto-container">
    <div class="title-box">
      <h2>Frequently Asked Questions</h2>
      <div class="text">
        Discover you question from underneath or present your inquiry fromt the
        submit box.
      </div>
    </div>
    <div class="clearfix row">
      <div class="column col-lg-6 col-md-12 col-sm-12">
        <!--Accordian Box-->
        <ul class="accordion-box faq">
          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Bring to the table win-win survival strategies?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn active">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Override the digital divide with additional clickthroughs from
              DevOps ?
            </div>
            <div class="acc-content current">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              At the end of the day, going forward ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Information highway will close the loop on ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="column col-lg-6 col-md-12 col-sm-12">
        <!--Accordian Box-->
        <ul class="accordion-box faq">
          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              User generated content in real-time will have ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Normal that has evolved from generation on the runway heading
              towards ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Focusing solely on the bottom line ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>

          <!--Block-->
          <li class="block accordion">
            <div class="acc-btn">
              <div class="icon-outer">
                <span class="icon icon-plus fas fa-plus"></span>
                <span class="icon icon-minus fas fa-minus"></span>
              </div>
              Multiple touchpoints for offshoring ?
            </div>
            <div class="acc-content">
              <div class="content">
                <div class="text">
                  Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel
                  am laoreet menandri. Ei justo complectitur duo. Ei mundi solet
                  utos soletu possit quo. Sea cu justo laudem. An utinam
                  consulatu eos, est facilis.
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Faq Section-->

<!--Faq Form Section-->
<section class="faq-form-section">
  <div class="auto-container">
    <h2>Didn’t find your answer? Submit your question</h2>
    <!--Form Outer-->
    <div class="form-outer">
      <!--Faq Form-->
      <div class="faq-form-box">
        <!--Contact Form-->
        <form
          method="post"
          action="https://t.commonsupport.com/care-giver/contact"
        >
          <div class="form-group">
            <input
              type="email"
              name="email"
              value=""
              placeholder="Email Address*"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              name="subject"
              value=""
              placeholder="Subject*"
              required
            />
          </div>

          <div class="form-group">
            <textarea name="message" placeholder="Your Question*"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="theme-btn btn-style-one">
              <span class="txt">Submit now</span>
            </button>
          </div>
        </form>
      </div>
      <!--End Faq Form-->
    </div>
  </div>
</section>
