<header class="main-header header-style-two">
  <!--Header Top-->
  <div hidden class="header-top">
    <div class="clearfix auto-container">
      <div class="top-left clearfix">
        <div class="text">
          <span class="icon flaticon-phone-receiver"></span> Need help? Call Us
          Now :
          <a href="tel:1800-456-7890" class="number">1800 456 7890</a>
        </div>
      </div>
      <div class="top-right clearfix">
        <!-- Info List -->
        <ul class="info-list">
          <li><a href="about">Our Story</a></li>
          <li><a href="contact">Enroll Now</a></li>
        </ul>
        <!--Language-->
      </div>
    </div>
  </div>
  <!-- End Header Top -->

  <!-- Header Upper -->
  <div class="header-upper">
    <div class="inner-container">
      <div class="clearfix auto-container">
        <!--Info-->
        <div class="logo-outer">
          <div class="logo">
            <a href="/"><img src="images/logo.png" alt="" title="" /></a>
          </div>
        </div>

        <!--Nav Box-->
        <div class="clearfix nav-outer">
          <!--Mobile Navigation Toggler For Mobile-->
          <div class="mobile-nav-toggler">
            <span class="icon flaticon-menu-button"></span>
          </div>
          <nav class="main-menu navbar-expand-md navbar-light">
            <div class="navbar-header">
              <!-- Togg le Button -->
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="icon flaticon-menu"></span>
              </button>
            </div>

            <div
              class="collapse navbar-collapse clearfix"
              id="navbarSupportedContent"
            >
              <ul class="clearfix navigation">
                <li class="current"><a href="/">Home</a></li>
                <li><a href="about">About us</a></li>
                <li>
                  <a href="/courses">Our Courses</a>
                  <ul>
                    <li>
                      <a href="elderly-service"
                        >QCF Level 3 in Health & Social Care</a
                      >
                    </li>
                    <li>
                      <a href="personal-care"
                        >QCF Level 4 in Health & Social Care</a
                      >
                    </li>
                    <li><a href="respite-care">Level 2 Food Safety</a></li>
                    <li><a href="nursing">Level 3 Food Safety</a></li>
                    <li><a href="support">Level 4 food Safety</a></li>
                    <li><a href="discharge">Health & Safety</a></li>
                    <li><a href="care">Infection Prevention & Control</a></li>
                    <li><a href="chronical">Safeguarding Children</a></li>
                    <li><a href="surgery">Safeguarding Adults</a></li>
                    <li><a href="life-care">C.OSHH Mobbing & Handling</a></li>
                    <li><a href="special-care">Level 3 Food and Hygiene</a></li>
                    <li><a href="special-care">Level 4 Food and Hygiene</a></li>
                    <li>
                      <a href="special-care"
                        >Level 3 Safe Administration of Medication</a
                      >
                    </li>
                    <li>
                      <a href="special-care"
                        >Mental capacity Act Mental health Awareness</a
                      >
                    </li>
                    <li><a href="special-care">Dementia Awareness</a></li>
                    <li>
                      <a href="special-care">Speaking and Listening Therapy</a>
                    </li>
                    <li>
                      <a href="special-care">Managing challenging behaviours</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Training</a>
                  <ul>
                    <li><a href="started">How do I get started</a></li>
                    <li><a href="caregiver">Enroll Now</a></li>
                  </ul>
                </li>
                <li><a href="contact">Contact</a></li>
              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->

          <!-- Main Menu End-->
          <div class="clearfix outer-box">
            <!-- Button Box -->
            <div class="btn-box">
              <a href="faq" class="theme-btn btn-style-one"
                ><span class="txt">Ask a Question</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Header Upper-->

  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="clearfix auto-container">
      <!--Logo-->
      <div class="pull-left logo">
        <a href="/" title=""
          ><img src="images/logo-small.png" alt="" title=""
        /></a>
      </div>
      <!--Right Col-->
      <div class="pull-right">
        <nav class="main-menu">
          <div class="collapse navbar-collapse clearfix show">
            <ul class="clearfix navigation">
              <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
          </div>
        </nav>
        <!-- Main Menu End-->

        <!-- Main Menu End-->
        <div class="clearfix outer-box">
          <!-- Button Box -->
          <div class="btn-box">
            <a href="contact" class="theme-btn btn-style-one"
              ><span class="txt">Ask a Question</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sticky Menu -->
  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
    <nav class="menu-box">
      <div class="nav-logo">
        <a href="/"><img src="images/logo-small.png" alt="" title="" /></a>
      </div>

      <ul class="clearfix navigation">
        <!--Keep This Empty / Menu will come through Javascript-->
      </ul>
    </nav>
  </div>
  <!-- End Mobile Menu -->
</header>
