<section class="appointment-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Book an Appintment</h2>
        </div>

        <!-- Default Form -->
        <div class="default-form style-two">
            <form method="post" action="https://t.commonsupport.com/care-giver/contact.html">
                <div class="clearfix row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="firstname" value="" placeholder="First Name" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="lastname" value="" placeholder="Last Name" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="email" value="" placeholder="Email" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="phone" value="" placeholder="Phone" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" class="datepicker" name="date" value="" placeholder="Date" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" class="timepicker" name="time" value="" placeholder="Time" required>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <textarea name="message" placeholder="Your Message"></textarea>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="theme-btn btn-style-four"><span class="txt">Submit
                                now</span></button>
                    </div>
                </div>
            </form>
        </div>
        <!--End Default Form-->

    </div>
</section>