<section class="contact-info-section">
    <div class="auto-container">
        <div class="inner-container margin">
            <div class="clearfix row">

                <!-- Info Box -->
                <div class="info-box col-lg-4 col-md-6 col-sm-12">
                    <div class="box-inner">
                        <div class="icon flaticon-smartphone"></div>
                        <h4>Toll Free No.<a href="tel:1800-654-9871" class="phone">1800 654 9871</a></h4>
                    </div>
                </div>

                <!-- Info Box -->
                <div class="info-box col-lg-4 col-md-6 col-sm-12">
                    <div class="box-inner">
                        <div class="icon flaticon-envelope"></div>
                        <h4>send us mail<a href="mailto:support@elandsocialcare.co.uk">support@elandsocialcare.co.uk</a>
                        </h4>
                    </div>
                </div>

                <!-- Info Box -->
                <div class="info-box col-lg-4 col-md-6 col-sm-12">
                    <div class="box-inner">
                        <div class="icon flaticon-placeholder"></div>
                        <h4>Our location<span>547, Lorance Street, NY</span></h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>