<section class="mission-section style-two">
    <div class="auto-container">
        <div class="clearfix row">

            <!-- Image Column -->
            <div class="image-column col-lg-3 col-md-4 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="images/resource/mission.jpg" alt="">
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-9 col-md-8 col-sm-12">
                <div class="inner-column">
                    <h2>Our Company Mission</h2>
                    <div class="bold-text">Everything we do at Eland Social Care Training is driven by our universal
                        mission: To empower exceptional care through expert training and dedicated staffing.</div>
                    <div class="text">
                        When our founders began providing care to help a loved one remain at home, they envisioned a
                        future where compassionate, skilled care was accessible to all. We make that vision a reality by
                        empowering caregivers with exceptional training and supplying communities with dedicated
                        professionals, touching lives with competence and compassion.
                    </div>
                    <h3>Changing the Face of Caring</h3>
                    <div class="clearfix row">
                        <div class="column col-lg-6 col-md-6 col-sm-12">
                            <ul class="list-style-two">
                                <li>- Reading, writing and light household tasks</li>
                                <li>- Shopping for food or clothing</li>
                                <li>- Travelling to and from appointments</li>
                                <li>- Doing hobbies, arts and crafts together</li>
                            </ul>
                        </div>
                        <div class="column col-lg-6 col-md-6 col-sm-12">
                            <ul class="list-style-two">
                                <li>- Purchasing magazines, newspapers and books</li>
                                <li>- Social visits to neighbours and clubs</li>
                                <li>- Preparing simple meals</li>
                                <li>- Video calls to family and friends</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>