<section class="quality-section">
  <div class="auto-container">
    <div class="inner-container">
      <div class="clearfix row">
        <!-- Title Column -->
        <div class="title-column col-lg-5 col-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Sec Title Two -->
            <div class="sec-title-two style-two">
              <h2>
                We provide the highest quality of training and Care giving at an
                affordable cost.
              </h2>
              <div class="text">
                Your loved one's happiness is our priority. We care for them
                according to their unique wishes and preferences.
              </div>
            </div>
          </div>
        </div>

        <!-- Images Column -->
        <div class="images-column col-lg-7 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="clearfix row">
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <div class="image">
                  <img src="/images/resource/quality-1.jpg" alt="" />
                </div>
              </div>
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <div class="image">
                  <img src="/images/resource/quality-2.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
