<section class="services-section-three style-two">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <h2>What is Home Care... Is Home Care Services For Everyone. </h2>
            <div class="text">Discover how professional caregivers approach caring for your loved one in order
                to engage</div>
        </div>

        <div class="clearfix row">

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-hair"></span>
                                    </div>
                                    <h3><a href="nursing">
                                            Personal Grooming Like Bathing or Getting Dressed
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-elder"></span>
                                    </div>
                                    <h3><a href="nursing">Helping a Person with Dementia by Grounding and
                                            Orienting Them</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-medicine"></span>
                                    </div>
                                    <h3><a href="nursing">Take Care of Medication Reminders</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-walk"></span>
                                    </div>
                                    <h3><a href="nursing">Moving Around. Getting in and out of the Bed or
                                            Shower</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-groceries"></span>
                                    </div>
                                    <h3><a href="nursing">Errands Like Grocery Shopping and Picking up
                                            Prescriptions</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block Three -->
            <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="overlay-content">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-deal"></span>
                                    </div>
                                    <h3><a href="nursing">Keeping Them Safe and Comfortable</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>