<section class="welcome-section">
  <div class="auto-container">
    <div class="clearfix row">
      <!-- Title Column -->
      <div class="title-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <!-- Sec Title Two -->
          <div class="sec-title-two light">
            <h2>
              Welcome to <br />
              Eland Social Care
            </h2>
            <div class="text">
              We empower the care sector through comprehensive training and
              expert staffing. We train carers to excel and supply businesses
              with qualified professionals—from Support Workers to Nurses and
              Chefs—all at competitive rates.
            </div>
          </div>
        </div>
      </div>

      <!-- Blocks Column -->
      <div class="blocks-column col-lg-8 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="clearfix row">
            <!-- Service Block Five -->
            <div class="service-block-five col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <div class="icon-box">
                    <span class="icon flaticon-hair"></span>
                  </div>
                  <h3>
                    <a href="nursing"
                      >Personal Grooming Like <br />
                      Bathing or Getting <br />
                      Dressed</a
                    >
                  </h3>
                </div>
              </div>
            </div>

            <!-- Service Block Five -->
            <div class="service-block-five col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <div class="icon-box">
                    <span class="icon flaticon-elder"></span>
                  </div>
                  <h3>
                    <a href="nursing"
                      >Helping a Person with Dementia by Grounding and Orienting
                      Them</a
                    >
                  </h3>
                </div>
              </div>
            </div>

            <!-- Service Block Five -->
            <div class="service-block-five col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <div class="icon-box">
                    <span class="icon flaticon-walk"></span>
                  </div>
                  <h3>
                    <a href="nursing"
                      >Moving Around. Getting <br />
                      in and out of the Bed or Shower</a
                    >
                  </h3>
                </div>
              </div>
            </div>

            <!-- Service Block Five -->
            <div class="service-block-five col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <div class="icon-box">
                    <span class="icon flaticon-groceries"></span>
                  </div>
                  <h3>
                    <a href="nursing"
                      >Errands Like Grocery Shopping and Picking up
                      Prescriptions</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
