<section class="services-section">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <h2>Care That Comes to You & Supporting Your Independence</h2>
            <div class="bold-text">Our team of registered nurses and skilled healthcare professionals provides
                personalized in-home care to assist with daily activities, manage health needs, and support a fulfilling
                life at home</div>
            <div class="text">
                Our commitment to quality means every caregiver is meticulously matched to your needs and fully trained
                in the latest
                best practices. We don't just provide a service; we provide a standard of excellence. Our team of
                registered nurses and
                skilled professionals operates with unwavering professionalism, ensuring reliable, compassionate, and
                respectful care
                that you can trust. Your well-being and independence are at the heart of everything we do.

            </div>
        </div>
        <div class="clearfix">

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-1.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="content-inner">
                                        <h3><a href="elderly-service">Elevate</a></h3>
                                        <div class="text">
                                            We go beyond basic care to uplift every aspect of well-being, striving to
                                            enhance the quality of life for both clients
                                            and caregivers through superior standards and compassionate practice.
                                        </div>
                                        <div class="btn-box">
                                            <a href="elderly-service" class="theme-btn care-btn">Type of
                                                care <span class="icon flaticon-logout"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-2.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="content-inner">
                                        <h3><a href="elderly-service">Equip</a></h3>
                                        <div class="text">
                                            We provide the essential tools, knowledge, and confidence—whether through
                                            training or staffing—enabling caregivers and clients to face daily
                                            challenges with strength and assurance.
                                        </div>
                                        <div class="btn-box">
                                            <a href="elderly-service" class="theme-btn care-btn">Type of
                                                care <span class="icon flaticon-logout"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-3.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="content-inner">
                                        <h3><a href="elderly-service">Excel</a></h3>
                                        <div class="text">
                                            We are committed to outstanding performance in all we do, fostering an
                                            environment where continuous improvement leads to exceptional outcomes and
                                            service excellence.
                                        </div>
                                        <div class="btn-box">
                                            <a href="elderly-service" class="theme-btn care-btn">Type of
                                                care <span class="icon flaticon-logout"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>